{% extends 'base.html' %}
    <title>Añadir productos</title>

{% block main %}

<table>
  <form class="form-productos" method="POST">
    <thead>
        <tr>
          <th colspan="2">Formulario para agregar productos a la lista:</th>
        </tr>
    </thead>
    <tbody>
        <tr>
          <td><label for="nombre">Nombre: </label></td>
          <td><input type="text" name="nombre" id="nombre"></td>
        </tr>
        <tr>
          <td><label for="precio">Precio: </label></td>
          <td><input type="number" step="0.01" name="precio" id="precio"></td>
        </tr>
        <tr>
          <td><label for="stock">Stock: </label></td>
          <td><input type="number" name="stock" id="stock"></td>
        </tr>
        <tr>
          <td><label for="categoria">Categoría: </label></td>
          <td><input type="text" name="categoria" id="categoria"></td>
        </tr>
        <tr>
          <td colspan="2"><button type="submit">Enviar</button></td>
        </tr>
    </tbody>
  </form>
</table>

{% endblock %}

