{% extends 'base.html' %}

{% block titulo %} <h1>Tienda Online - Usuarios</h1> {% endblock %}

{% block main %}
 <h1>Formulario para agregar usuarios a la lista:</h1>
  <form class="form-usuarios" method="POST">
    <label for="nombre">Nombre: </label>
    <input type="text" name="nombre" id="nombre">
    <label for="email">E-mail: </label>
    <input type="email" name="email" id="email">
    <label for="contraseña">Contraseña: </label>
    <input type="password" name="contraseña" id="contraseña">
    <label for="activo" >Activo</label>
    <input type="text" name="activo" id="activo">
    <label for="pedido">Pedidos: </label>
    <input type="number" name="pedido" id="pedido">
    <button type="submit">Enviar</button>
  </form>
{% endblock %}
