{% extends 'base.html' %}
    <title>Añadir productos</title>

{% block main %}
  <h1>Formulario para agregar productos a la lista:</h1>
  <form class="form-productos" method="POST">
    <label for="nombre">Nombre: </label>
    <input type="text" name="nombre" id="nombre">
    <label for="precio">Precio: </label>
    <input type="number" step="0.01" name="precio" id="precio">
    <label for="stock">Stock: </label>
    <input type="number" name="stock" id="stock">
    <label for="categoria">Categoría: </label>
    <input type="text" name="categoria" id="categoria">
    <button type="submit">Enviar</button>
  </form>
{% endblock %}

