<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>  {% block titulo %} Tienda Online {% endblock %}  </title>
</head>
<body>
    <header>
        {% block header %}
            <h1>Tienda Online</h1>
        {% endblock %}
    </header>
    <nav>
        {% block nav %}
            <a href="{{ url_for('dashboard')}}">Inicio</a>
            <a href="{{ url_for('añadir_productos')}}">Añadir Productos</a>
            <a href="{{ url_for('mostrar_productos') }}">Productos</a>
            <a href="{{ url_for('añadir_usuarios')}}">Añadir Usuarios</a>
            <a href="{{ url_for('mostrar_usuarios')}}">Usuarios</a>
        {% endblock %}
    </nav>
    <main>
        {% block main %}
            contenido principal
        {% endblock %}
    </main>

    <footer>
        {% block footer %}
            <small>Proyecto realizado por José Ignacio Barranco ruiz<br> 1º DAW</small>
            <small><strong>Contacto:</strong><br> Teléfono: 617897738 <br> E-mail: joseyenred@hotmail.com</small>
        {% endblock %}
    </footer>
</body>
</html>
