{% extends 'base.html' %}
{% block titulo %}

    <h1>Tienda Online</h1>

{% endblock %}

{% block header %}
    <!-- Saludo al administrador -->
    <h2>Bienvenido, {{ nombre_admin }} a la tienda {{ tienda }}. Hoy es día {{ fecha }}.</h2>

{% endblock %}
{% block main %}
    <h3>Productos:</h3>
    <!-- Tabla de los productos con un bucle para escribir la información de las filas y sus condicionales -->
<table>
    <tr>
        <th>Nombre</th>
        <th>Precio</th>
        <th>Stock</th>
        <th>Categoría</th>
    </tr>
    {% for producto in productos %}
        <tr>
            <td>{{ producto['nombre'] }}</td>
            <td>{{ producto['precio'] }}€</td>
            {% if producto['stock'] == 0 %}
                <td>Agotado</td>
            {% else %}
                <td>{{ producto['stock'] }}</td>
            {% endif %}

            <td>{{ producto['categoría'] }}</td>
        </tr>
    {% endfor %}
    <tr>
        <td colspan = '3'>TOTAL STOCK:</td>
        <td>{{ total_stock }}</td>
    </tr>
</table>
    <h3>Clientes:</h3>
    <!-- Tabla de Clientes con un bucle y sus condicionales -->
<table>
    <thead>
        <tr>
            <th>Nombre</th>
            <th>E-mail</th>
            <th>Activo</th>
            <th>Pedidos</th>
            <th>fecha de registro</th>
        </tr>
    </thead>
    <tbody>
        {% for cliente in clientes %}
            <tr>
                <td>{{ cliente['nombre'].upper() }}</td>
                <td>{{ cliente['email'] }}</td>
                {% if cliente['activo'] == 'True' %}
                    <td>Sí</td>
                {% else %}
                    <td>No</td>
                {% endif %}
                <td>{{ cliente['pedidos'] }}</td>
            </tr>
        {% endfor %}
    </tbody>
    <tfoot>
        <tr>
            <td colspan = '3'>CLIENTES ACTIVOS:</td>
            <td>{{ total_activos }}</td>
        </tr>
        <tr>
            <td colspan = '3'>CLIENTE CON MÁS PEDIDOS:</td>
            <td>{{ cliente_max.upper() }}</td>
        </tr>
    </tfoot>
</table>

<h3>Pedidos:</h3>
    <!-- Tabla de pedidos con un bucle para iterar la información -->
<table>
    <tr>
        <th>Cliente</th>
        <th>Total</th>
        <th>Fecha</th>
    </tr>
    {% for pedido in pedidos %}
        <tr>
            <td>{{ pedido['cliente'] }}</td>
            <td>{{ pedido['total'] }}€</td>
            <td>{{ pedido['fecha'] }}</td>
        </tr>
    {% endfor %}
    <tr>
        <td colspan="2">INGRESO TOTAL:</td>
        <td>{{ ingreso_total }}€</td>
    </tr>
</table>
{% endblock %}
