{% extends 'base.html' %}

{% block titulo %} <h1>Tienda Online - Productos</h1> {% endblock %}

{% block main %}

<h3>Productos:</h3>
    <!-- Tabla de los productos con un bucle para escribir la información de las filas y sus condicionales -->
<table>
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Precio</th>
            <th>Stock</th>
            <th>Categoría</th>
            <th>Enlace</th>
        </tr>
    </thead>
    <tbody>
        {% for producto in productos %}
            <tr>
                <td>{{ producto['nombre'] }}</td>
                <td>{{ producto['precio'] }}€</td>
                {% if producto['stock'] == 0 %}
                    <td id="agotado">Agotado</td>
                {% else %}
                    <td>{{ producto['stock'] }}</td>
                {% endif %}

                <td>{{ producto['categoría'] }}</td>
                <td><a href="{{url_for('perfil_productos',username=producto['nombre'])}}">{{ producto['nombre'] }}</a></td>
            </tr>
        {% endfor %}
    </tbody>
    <tfoot>
        <tr>
            <td colspan = '3'>TOTAL STOCK:</td>
            <td colspan="2">{{ total_stock }}</td>
        </tr>
    </tfoot>
</table>

{% endblock %}
